IMG_BASE_URL=https://api.apimart.ai/v1
IMG_MODEL=gpt-image-2
IMG_API_KEY=your-api-key


# apimart=false
# IMG_BASE_URL=http://74.48.5.153:3000/v1
# IMG_MODEL=gpt-image-2
# IMG_API_KEY=sk-6R5CES-LhdDCNY0dYEs0l